@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
  margin: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
}

.text{
  margin-top: 10px;
  margin-left: 15px;
  font-weight: 25px;
  font-size: 1.8rem;
  color: #1DA1F2;
}

.container {
  width: 50%;
  height: 6%;
  margin-left: 15px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: silver;
  color: black;
}
